
   .card {
    transition: .3s;
   }
   .card:hover{
    transform: scale(1.12);
   }

   .navbar-brand {
    transition: .3s;
   }
   
   .navbar-brand:hover{
    transform: scale(1.12);
   }

   .nav-item{
    transition: .3s;
   }

   .nav-item:hover{
    transform: scale(1.12);
    color: white;
   }

   #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 0px;
    display: none;
  }